@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "IRC log converter";
}

<div class="row">
    <h2 class="col-sm-offset-2 col-sm-8">
        Upload a mIRC .log file to convert.
    </h2>
</div>

<form asp-page="Convert" enctype="multipart/form-data" class="form-horizontal">
    <div class="form-group">
        <label asp-for="LogFile" class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
            <input asp-for="LogFile" type="file" class="form-control" />
            <span asp-validation-for="LogFile" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Format" class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input asp-for="Format" type="radio" value="html" checked> HTML
            </label>
            <label class="radio-inline">
                <input asp-for="Format" type="radio" value="text"> Plain text
            </label>
        </div>
        <span asp-validation-for="Format" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-default">Convert</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
