@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "IRC log converter";
}

<form asp-page="Download" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Name" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label for="fake" class="col-sm-2 control-label">Ignored</label>
        <div class="col-sm-10">
            <input id="fake" type="text" class="form-control" />
        </div>    
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default ">Download</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
